@import 'variables.scss';
@import 'animation.scss';

.icw-home {
  font-size: 15px;

  @each $idx in (2, 3, 4, 5, 6) {
    .icw-card:nth-child(#{$idx}) {
      transition-delay: ($idx - 1) * 100ms !important;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 1.3;
  }
  p {
    margin: 0 0 3px;
    line-height: 1.3;
  }

  $headerTopPadding: 25px;
  $headerBottomPadding: 60px;
  $headerHeight: 140px;

  header {
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg, $blue 0%, $dark-blue 100%);
    box-shadow: 0px 2px 8px 0 rgba(0,0,0,.2);
    color: $white;
    padding: $headerTopPadding 35px $headerBottomPadding 25px;
    height: $headerHeight + $headerTopPadding + $headerBottomPadding;
    transition: height 300ms;
    overflow: hidden;

    .icw-h-logo {
      height: 32px;
      margin-bottom: 12px;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto 0px;
      }
    }

    .icw-h-title {
      font-weight: 400;
      font-size: 32px;
    }

    .icw-h-subtitle {
      font-weight: 300;
      line-height: 1.5;
    }
  }

  main {
    padding: ($headerTopPadding + $headerHeight) 15px 60px;
    flex: 1;
    z-index: 2;
    transition: padding 300ms;

    .icw-card {
      // cards have more padding in homepage
      padding: 24px;
      margin-top: 18px;
    }

    .icw-link-widget {
      .icw-link-row.last {
        margin-bottom: -24px;
      }
      .icw-link-row.firstNoHead {
        margin-top: -20px;
      }
    }
  }
}

// ANIMATIONS

.slideLeft .icw-home {
  &.pageTransition {
    @include transition('.icw-h-logo, .icw-h-title, .icw-h-subtitle, .icw-card', (
      transform: translateX(40px),
      opacity: 0,
    ), (
      transform: translateX(0),
      opacity: 1,
    ), (
      transform: translateX(-40px),
      opacity: 0,
    ), (
      transition: (opacity 350ms, transform 350ms)
    ));
    @include transition('.icw-branding-ctr', (
      transform: translateY(100%),
      opacity: 0,
    ), (
      transform: translateY(0),
      opacity: 1,
    ), (
      transform: translateY(100%),
      opacity: 0,
    ), (
      transition: (opacity 350ms, transform 350ms)
    ));
  }
}

.slideRight .icw-home {
  &.pageTransition {
    @include transition('.icw-h-logo, .icw-h-title, .icw-h-subtitle, .icw-card', (
      transform: translateX(-40px),
      opacity: 0,
    ), (
      transform: translateX(0),
      opacity: 1,
    ), (
      transform: translateX(40px),
      opacity: 0,
    ), (
      transition: (opacity 350ms, transform 350ms)
    ));
    @include transition('.icw-branding-ctr', (
      transform: translateY(100%),
      opacity: 0,
    ), (
      transform: translateY(0),
      opacity: 1,
    ), (
      transform: translateY(100%),
      opacity: 1,
    ), (
      transition: (opacity 350ms, transform 350ms)
    ));
  }
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  overflow: auto;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}
