@import 'common.scss';
@import 'variables.scss';
@import 'animation.scss';

.icw-launcher {
  @include animation(0, 300ms, slide-in);
  align-self: flex-end;
  background-color: $blue;
  user-select: none;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px $box-shadow-color;
  height: 60px;
  margin-top: 10px;
  width: 60px;
  bottom: 0;
  margin: 7px;
  position: fixed;
  right: 0;

  &:focus {
    outline: none;
  }
}

.icw-open-launcher {
  width: 30px;
  @include animation(0, 300ms, rotation-rl);
}

.icw-close-launcher {
  width: 15px;
  @include animation(0, 300ms, rotation-lr);
}

@media screen and (max-width: 768px){
  .icw-opened #infoset-btn-frame {
    display: none;
    z-index: -1;
    pointer-events: none;
  }
}