@import 'variables.scss';

.icw-launcher {
  cursor: pointer;

  .icw-badge {
    position: fixed;
    top: -7px;
    right: -5px;
    background-color: $red;
    color: $white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
  }
}
