@import 'animation.scss';
@import 'common.scss';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icw-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  z-index: 2147483647;
  color: #212121;
}

.icw-opened {
  width: 90vw;
}

#infoset-btn-frame, #infoset-conv-frame, #infoset-trigger-frame {
  border: 0;
  position: fixed;
  box-sizing: border-box;
}

@mixin hidden() {
  z-index: -100;
  pointer-events: none;
  opacity: 0;
}

#infoset-trigger-frame-tip {
  position: fixed;
  right: 75px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  background: white;
  transform: translateX(-50%) rotate(45deg) translateX(5px) translateZ(0);
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  @include hidden;
}

#infoset-trigger-frame {
  background: white;
  border-radius: 6px;
  bottom: 15px;
  right: 95px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.06), 0 2px 16px 0 rgba(0,0,0,.16), 15px 5px 10px 0px rgba(0,0,0,0.06);
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 30px);
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  transform: translateX(10px) translateZ(0);
  @include hidden;

  &.open {
    transform: translateX(0) translateZ(0);

    & + #infoset-trigger-frame-tip {
      transform: translateX(-50%) rotate(45deg) translateZ(0);
    }

    &, & + #infoset-trigger-frame-tip {
      z-index: 2147483646;
      pointer-events: all;
      opacity: 1;
    }
  }
}

#infoset-conv-frame {
  bottom: 95px;
  min-height: 350px;
  height: 550px;
  width: 375px;
  right: 15px;
  transform: translateY(10px) translateZ(0);
  border-radius: 10px;
  transform-origin: bottom;
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  @include hidden;
}

#infoset-btn-frame {
  height: 75px;
  width: 75px;
  right: 10px;
  bottom: 10px;
  z-index: 2147483647;
}

@media screen and (min-width: 769px) {
  #infoset-conv-frame {
    max-height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 768px) {
  .icw-widget-container {
    margin: 0;
    max-width: none;
    width: 100%;

    #infoset-conv-frame {
      @include full-height;
      width: 100vw;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 0;
    }

    &.icw-opened {
      @include full-height;
    }
  }
}

.icw-trigger-content > :first-child {
  margin-top: 0 !important;
}
.icw-trigger-content ol:last-child {
  margin-bottom: 0 !important;
}
