body.icw-body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

$launcherBottom: 15px;
$launcherRight: 15px;

#infoset-btn-frame, #infoset-conv-frame, #infoset-trigger-frame {
  border: 0;
  position: fixed;
  box-sizing: border-box;
}

@mixin hidden() {
  z-index: -100;
  pointer-events: none;
  opacity: 0;
}

@mixin full-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

#infoset-trigger-frame-tip {
  z-index: 2147483646;
  position: fixed;
  right: $launcherRight + 65px;
  bottom: $launcherBottom + 20px;
  width: 20px;
  height: 20px;
  background: white;
  transform: translateX(-50%) rotate(45deg) translateX(5px) translateZ(0);
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  @include hidden;
}

#infoset-trigger-frame {
  background: white;
  border-radius: 6px;
  bottom: $launcherBottom + 5px;
  right: $launcherRight + 85px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.06), 0 2px 16px 0 rgba(0,0,0,.16), 15px 5px 10px 0px rgba(0,0,0,0.06);
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 30px);
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  transform: translateX(10px) translateZ(0);
  @include hidden;

  &.open {
    display: block !important;
    transform: translateX(0) translateZ(0);

    & + #infoset-trigger-frame-tip {
      transform: translateX(-50%) rotate(45deg) translateZ(0);
    }

    &, & + #infoset-trigger-frame-tip {
      z-index: 2147483646;
      pointer-events: all;
      opacity: 1;
    }
  }
}

#infoset-conv-frame {
  min-height: 350px;
  height: 550px; // NOTE: make 600px when we have homepage
  width: 375px;
  bottom: $launcherBottom + 85px;
  right: $launcherRight + 5px;
  transform: translateY(10px) translateZ(0);
  border-radius: 10px;
  transform-origin: bottom;
  transition: transform 300ms ease-out, opacity 300ms ease-out, box-shadow 300ms ease-out;
  @include hidden;
}

#infoset-btn-frame {
  height: 75px;
  width: 75px;
  right: $launcherRight;
  bottom: $launcherBottom;
  z-index: 2147483646;
}

.icw-widget-inner-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.icw-opened #infoset-conv-frame {
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.06), 0 2px 32px 0 rgba(0,0,0,.16);
  z-index: 2147483647;
  pointer-events: all;
  transform: translateY(0);
  opacity: 1 !important;

  @media screen and (max-width: 768px) {
    box-shadow: 0;
    border-radius: 0;
    right: 0 !important;
  }
}

@media screen and (min-width: 769px) {
  #infoset-conv-frame {
    max-height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 768px) {
  #infoset-conv-frame {
    @include full-height;
    width: 100vw;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  .icw-opened #infoset-btn-frame {
    display: none;
    z-index: -100;
    pointer-events: none;
  }
}
