.icw-trigger-content {
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;

  p {
    line-height: 1.15;
  }

  * {
    margin: 0;
  }
}

.triggerHtml {
  height: 100%;

  body {
    width: 100%;
    min-height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
