@import 'common.scss';
@import 'variables.scss';
@import 'animation.scss';

.icw-launcher {
  @include animation(0, 300ms, slide-in);
  align-self: flex-end;
  background-color: $blue;
  user-select: none;
  border: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  outline: none !important;

  &:focus {
    outline: none;
  }
}

.icw-open-launcher {
  width: 30px;
  @include animation(0, 300ms, rotation-rl);
}

.icw-close-launcher {
  width: 15px;
  color: #fff;
  @include animation(0, 300ms, rotation-lr);
}
